* {
    padding: 0px;
    margin: 0px;
}



.container {
    width: 80%;
    margin: auto;
}

#back {
    
    background-image: url(https://raw.githubusercontent.com/CottonAnalytics/Script-Site-Calculadora/f526ed948d712c9fe99e3a34eaf4bf548b63226a/Imagens-Site/SVG/backgorund_vetor.svg);
}

.container .primeiro_h1 {
    font-size: 35px;
    padding: 20px 20px 20px 0px;
    color: white;

}

.header {
    background-color: #0D7980;
    height: fit-content;
    color: white;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    display: flex;


}

.nav {
    width: 1200px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .nav {
    display: flex;
    justify-content: space-around;



}

.nav li {
    list-style-type: none;
    color: white;
    font-size: 20px;





}

/*Banner*/
.banner {
    color: white;
    background-image:
        url(https://img.freepik.com/fotos-premium/ramo-de-algodao-florescendo-na-mesa_23-2148287624.jpg?w=2000);
    height: 424px;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .banner .container #frase_solucao {

        text-align: center;
        font-size: 90px;

    }









/*conteudo*/

.conteudo{
    
    height: 527px;
    display: flex;
    align-items: center;
    
}

.conteudo .container {
    
    justify-content: space-between;
    display: flex;
    
    

}

.conteudo .container #img_solucao {
    width: 500px;
    height: 306px;

}

.conteudo p {
    
    text-align: justify;
    flex-direction: column;
    font-size: 25px;
    height: 251px;
    width: 623px;

}

.conteudo_column {
    width: 623px;
    height: 333px;
}

.conteudo h2 {
    font-size: 70px;
    text-align: left;

}

.conteudo_column {
    flex-direction: column;
}



/*social*/


.social .container {

    height: 556;
    display: flex;
    justify-content: center;

}

.social p {
    font-size: 25px;
    padding: 10px;
}


.social .container .box {
    border-radius: 10px;
    background-color: #A7BDBD;
    width: 381px;
    height: 430px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.social .container .box img {
    width: 195px;
    height: 127.px;

}

.social h4 {
    font-size: 30px;

}

.social .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1728px;
    height: 644px;

}

/*contato*/


.contato {

    height: 720px;

    margin-bottom: 50px;
}

.contato .container h2 {
    font-size: 50px;
    text-align: center;
}

.contato .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    height: 674px;
}

.input {
    width: 500px;
    height: 450px;


}

.contato .inputs {

    color: white;
    width: 458px;
    height: 62px;
    border-radius: 15px;
    background-color: #19403C;
    padding: 5px;
    margin: 5px;

}

#input_mensagem {
    color: white;
    width: 458px;
    height: 164px;
    border-radius: 15px;
    background-color: #19403C;
    padding: 5px;
    margin: 5px;
}

/*footer*/

.footer{
    background-color: #0D7980;
    
    height: 288px;
}

.footer .container {
    background-color: #0D7980;


    margin-top: 2px;
}

.footer .container {
    flex-direction: column;
    align-items: center;
}

.container .nav_footer {
    width: 970px;
    height: 80px;
    display: flex;
    justify-content: center;



}


.nav_footer li {
    list-style-type: none;
    color: white;
    font-size: 30px;
    padding: 20px;
    margin: 3px;
    align-items: center;
    justify-content: center;
}

.ultimo_h1 {
    font-size: 35px;
    margin-left: 145px;
    color: white;


}