body {
    margin: 0;
    background-image: url("assets/imagem_banner.jpg");
    background-size: cover;
    /* min-height: 535px; */
    background-position: center;
    background-repeat: no-repeat;
    /* tags responsáveis pelo efeito parallax e opacidade */
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: color;
}

/* .analytics {
    font-family: 'Leckerli One', cursive;
    color: black;
} */

.container {
    width: 80%;
    margin: auto;
}


/* ========================================= INICIO DO HEADER =========================================== */

.header {
    background-color: #0D7980;
    height: 70px;
    color: #ffffff;
}

/* Respiro da Página, margin auto para o sistema do pc que decidir como fica a alteração */
.container {
    margin: auto;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nome_Empresa {
    display: flex;
}

.nome_Empresa #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;

    align-self: center;

}

.nome_Empresa #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;

    align-self: center;
}

.header .navbar {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 24px;
    width: 700px;
    color: #FFFFFF;

}

.navbar .agora {
    font-weight: 1000;
    color: #000;
}

.navbar a {
   color: #FFFFFF;
   text-decoration: none;
}

/* .header {
    color: #ffffff;
    width: 100%;
    background-color: #0D7980;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 800px;
    font-size: 25px;
} */

/* ========================================= FIM DO HEADER =========================================== */

/* ====================================== INICIO DO SIMULADOR ======================================== */
.section1 {
    padding: 40px 0;
    /* border: solid 2px red; */
}

.section1 .container {
    /* border: solid 2px green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


.boxes {
    background-color: rgb(35, 89, 89, 0.7);
    color: white;

    /* border: solid 10px orange; */
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 1199px;
    height: 850px; */
    width: auto;
    height: auto;
    padding: 30px;

}
.boxes h1 {
    /* border: solid 4px chartreuse;    */
    margin: 0;
    font-family: 'Questrial';
    font-size: 38px;
}

.conteudo {
    /* border: solid 2px pink; */
    text-align: center;
    font-family: 'Questrial';
    font-size: 20px;
}

.conteudo p {
    font-size: 25px;
}


.form {
    /* border: solid 2px rgb(15, 219, 158); */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    /* align-items: center; */
}

.linha {
    display: flex;
    /* border: solid 2px black; */
    margin: 5px 0px;
    align-items: center;
    padding: 5px 0px;
}

.labels {
    font-family: 'Quicksand';
    /* border: solid 1px blue; */
    width: 50%;
    margin: left;
    margin-right: 10px;
    text-align: right;
}

.inputs {
    /* border: solid 1px red; */
    width: 50%;
    margin: right;
    margin-left: 10px;
    text-align: left;
    font-family: 'Quicksand';
}

/* .inputs input {
    width: 210px;
    padding: 7px 0px 7px 10px;
    border-radius: 8px;
    border: none;
    /* text-align: center; */
/* } */

.inputs select {
    padding: 7px 10px;
    width: 260px;
    height: 45px;
    font-size: 16.5px;
    border: none;
    border-radius: 8px;
    background: #19403C;
    color: rgb(255,255,255,0.6);
    font-family: 'Quicksand';
}

input {
    padding: 7px 10px;
    width: 240px;
    height: 30px;
    font-family: 'Quicksand';
    font-size: 16.5px;
    border-style: none;
    background: #19403C;
    color: white;
    border-radius: 8px;
}

.boxes button {
    align-self: center;
    font-family: 'Cairo';
    width: 164px;
    margin-top: 45px;
    border: none;
    border-radius: 15px;
    /* padding: 10px 0px; */
    background-color: #A56037;
    color: white;
    font-size: 24px;

}


input::placeholder {
    color: rgb(255,255,255,0.6);
    font-family: 'Quicksand';
    /* font-size: 30px; */
}

/* ====================================== FIM DO SIMULADOR ======================================== */

/* ====================================== INICIO DO RESULTADO ======================================== */

.resultado h1 {
    align-self: center;
    margin-top: 0px;
    font-family: 'Cairo';
    font-size: 38px;
}

.boxes .resultado {
    display: none;
    /* border: solid 5px purple; */
    font-family: 'Questrial';
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.resultado span {
    font-size: 25px;
    /* border: solid 5px black; */
    margin: 10px 0px;
}

.resultado button {
    align-self: center;
    font-family: 'Cairo';
    width: auto;
    margin-top: 45px;
    border: none;
    border-radius: 15px;
    padding: 5px 9px;
    background-color: #A56037;
    color: white;
    font-size: 24px;

}

/* ====================================== FIM DO RESULTADO ======================================== */



/* ====================================== INICIO DO FOOTER ======================================== */

.footer {
    color: #fff;
    background-color: #0D7980;
    justify-content: center;
    align-items: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    padding-top: 15px;
    padding-bottom: 15px;

}

/* .footer .contato {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 800px;
} */

.logo #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.logo #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.footer .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    width: 700px;
    color: #FFFFFF;
}

.footer .container #span3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
}