body {
    margin: 0px;
}



.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #0D7980;
    height: 70px;
    color: #ffffff;
}

/* Respiro da Página, margin auto para o sistema do pc que decidir como fica a alteração */
.container {
    margin: auto;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nome_Empresa {
    display: flex;
}

.nome_Empresa #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;

    align-self: center;

}

.nome_Empresa #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;

    align-self: center;
}

.header .navbar {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 24px;
    width: 700px;
    color: #FFFFFF;

}

.navbar .agora {
    font-weight: 1000;
    color: #000;
}

.navbar a {
   color: #FFFFFF;
   text-decoration: none;
}


#back {
    
    background-image: url(https://raw.githubusercontent.com/CottonAnalytics/Script-Site-Calculadora/f526ed948d712c9fe99e3a34eaf4bf548b63226a/Imagens-Site/SVG/backgorund_vetor.svg);
    background-size: cover;
}


/*Banner*/
.banner {
    color: white;
    background-image:
        url(https://img.freepik.com/fotos-premium/ramo-de-algodao-florescendo-na-mesa_23-2148287624.jpg?w=2000);
    display: flex;
    height: 424px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* tags responsáveis pelo efeito parallax e opacidade */
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: color;
    
}

.banner .container {
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}

    .banner .container #frase_solucao {
        justify-items: center;
        text-align: center;
        font-size: 90px;
        font-weight: 700;
        font-family: 'Quicksand'
    }

/*conteudo*/

.conteudo{
    
    height: 550px;
    display: flex;
    align-items: center;
    
}

.conteudo .container {
    
    display: flex;

    height: 500px;
    margin-top: 30px;
    
    
}

.conteudo .container #img_solucao {
    width: 500px;
    height: 306px;

    align-items: center;

}

.conteudo p {
    
    text-align: justify;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Questrial';


}

.conteudo_column {
    width: 623px;
    height: 333px;
}

.conteudo h2 {
    font-size: 70px;
    text-align: left;
    font-family: 'Cairo';

}

.conteudo_column {
    flex-direction: column;
}



/*social*/

.social {
    /* height: 1000px; */
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url("assets/backgorund_vetor.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

.social p {
    text-align: center;
}

.boxes {
    display: flex;
    border-radius: 35px;
    justify-content: space-around;

}

.box {
    margin: 50px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A7BDBD;
    width: 381px;
    font-family: 'Cairo';
    height: 430px;
    border-radius: 15px;
}

.box h4 {
    font-family: 'Cairo';
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.box p {
    font-family: 'Cairo';
    font-size: 25px;
    height: 117px;
    width: 313px;
    margin-top: 30px;
    padding: 10px;
}

.box img {
    margin-top: 20px;
    width: 195px;
    height: 127px;
}

/* 
.social .container {

    height: 556;
    display: flex;
    justify-content: center;

}

.social p {
    font-size: 25px;
    padding: 10px;
    font-family: 'Cairo';

}


.social .container .box {
    border-radius: 10px;
    background-color: #A7BDBD;
    width: 381px;
    height: 430px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Cairo';


}

.social .container .box img {
    width: 195px;
    height: 127px;
}

.social h4 {
    font-size: 30px;
}

.social .boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1728px;
    height: 644px;

}

.box p {
    text-align: center;
} */

/*contato*/

.caixa {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    margin-top: 5%;
    height: 500px;
    /* border: solid 10px green; */
}

.caixa #inp_msg {
    height: 136px;
    /* margin-bottom: 55px; */
}

.caixa input {
    padding: 7px 10px;
    margin-top: 13px;
    height: 51px;
    width: 382px;
    font-family: 'Quicksand';
    font-size: 30px;
    border-style: none;
    border-radius: 100px;
    background: #19403C;
    color: white;
    border-radius: 8px;
}

.caixa input::placeholder {
    color: rgb(255, 255, 255, 0.6);
    font-family: 'Quicksand';
    font-size: 30px;
}

.caixa h2 {
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    /* border: solid 2px green; */
    margin-bottom: 55px;
}

/* .contato {
    height: 720px;
}

.contato h2 {
    font-size: 50px;
    margin: 0;
    text-align: center;
    font-family: 'Cairo';
}

.contato .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 15px;
    height: 500px;
}

.input {
    width: 500px;
    height: 450px;
}

input {
    font-family: 'Quicksand';
    font-size: 30px;
}

.contato input::placeholder {
    color: white;
    font-family: 'Quicksand';
    font-size: 30px;
}


.contato .inputs {

    color: white;
    width: 458px;
    height: 62px;
    border-radius: 15px;
    background-color: #19403C;
    padding: 5px;
    margin: 5px;

}

#input_mensagem {
    color: white;
    width: 458px;
    height: 164px;
    border-radius: 15px;
    background-color: #19403C;
    padding: 5px;
    margin: 5px;
} */

/*footer*/
/* 
.footer{
    background-color: #0D7980;
    
    height: 288px;
}

.footer .container {
    background-color: #0D7980;


    margin-top: 2px;
}

.footer .container {
    flex-direction: column;
    align-items: center;
}

.container .nav_footer {
    width: 970px;
    height: 80px;
    display: flex;
    justify-content: center;



}


.nav_footer li {
    list-style-type: none;
    color: white;
    font-size: 30px;
    padding: 20px;
    margin: 3px;
    align-items: center;
    justify-content: center;
}

.ultimo_h1 {
    font-size: 35px;
    margin-left: 145px;
    color: white;


} */



/* Rodapé */

.footer {
    color: #fff;
    background-color: #0D7980;
    justify-content: center;
    align-items: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    padding-top: 15px;
    padding-bottom: 15px;

}

/* .footer .contato {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 800px;
} */

.logo #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.logo #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.footer .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    width: 700px;
    color: #FFFFFF;
}

.footer .container #span3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
}