body {
    margin: 0;
    background-color: #FFFFFF;
}

.header {
    background-color: #0D7980;
    height: 70px;
    color: #ffffff;
}

.container {
    margin: auto;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nome_Empresa {
    display: flex;
}

.nome_Empresa #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.nome_Empresa #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.header .navbar {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 24px;
    width: 700px;
    color: #FFFFFF;
}

.navbar .agora {
    font-weight: 1000;
    color: #000;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
}

/* ######################################################## FIM DO HEADER ########################################################## */

.banner {
    display: flex;
    width: 100%;
    height: 1000px;
}

.lateral {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/imagem_banner.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-size: cover;
}

.lateral .usuario {
    border-radius: 100%;
    border: solid 5px black;
    width: 150px;
    height: 150px;
    margin-top: 25%;
}

.navbar_lateral {
    display: flex;
    flex-direction: column;
    padding: 0%;
    width: 70%;
    height: 15%;
    justify-content: space-between;
    margin-top: 20%;
    color: #FFFFFF;
}

.navbar_lateral a{
    text-decoration: none;
    color: #FFFFFF;
}

.lateral p {
    font-family: 'Cairo';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.navbar_lateral li {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 26px;
    list-style: none;
}

.navbar_lateral .aqui {
    color: #0D7980;
}

/* ######################################################## FIM DA BARRA LATERAL ########################################################## */

.graphsmenu {
    display: flex;
    width: 100%;
    height: 1000px;
    flex-direction: column;
}

.metricas2 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
}

.metricas2 img {
    align-self: center;
    max-height: 50%;
    max-width: 50%;
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.metricas2 span {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 100%;
    align-self: center;
}

.metricas1 {
    width: auto;
    align-self: center;
}

.metricas1 img {
    height: 65%;
}

/* ######################################################## FIM DAS MÉTRICAS ########################################################## */

.caixa {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 0%;
}

.fazenda h1 {
    font-family: 'Cairo';
    color: #0D7980;
    font-size: 40px;
    text-align: center;
}

.fazenda .id {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 1.5%;
}

.fazenda .indicador {
    margin-left: 2%;
}

.fazenda .id span {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
}

.cor_strong{
    color: black;
    animation: animate2 0.75s linear infinite;
    
}

.seus_hectares{
    font-size: 20px;
    font-family: 'Montserrat';
}

@keyframes animate2{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

.fazenda .id .red {
    color: #F91A1A;
}

.fazenda .id .orange {
    color: #FF7E47;
}

.fazenda .id .yellow {
    color: #F8D51F;
}

.fazendaA {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.caixatopo1 {
    border: solid 3px #F91A1A;
    box-shadow: -13px 15px #F91A1A;
    width: 236px;
    height: 150px;
    border-radius: 10px;
}

.caixatopo1 a {
    text-decoration: none;
    color: #000;
}

/* Isso anima a bolinha */
@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

.caixatopo1 .bolinha1 {
    background-color: #F91A1A;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-left: 90%;
    margin-top: 2%;
    animation: animate 0.75s linear infinite;
}


.caixatopo1 .sensores {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.caixatopo1 .estado {
    font-family: 'Quicksand';
    font-size: 20px;
    width: 195px;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}

.caixatopo2 {
    border: solid 3px #FD6A2B;
    box-shadow: -13px 15px #FD6A2B;
    width: 236px;
    height: 150px;
    border-radius: 10px;
}

.caixatopo2 .bolinha2 {
    background-color: #FD6A2B;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-left: 90%;
    margin-top: 2%;
    animation: animate 0.75s linear infinite;
}

.caixatopo2 .sensores {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.caixatopo2 .estado {
    font-family: 'Quicksand';
    font-size: 20px;
    width: 195px;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}

.caixatopo3 {
    border: solid 3px #FD6A2B;
    box-shadow: -13px 15px #FD6A2B;
    width: 236px;
    height: 150px;
    border-radius: 10px;
}

.caixatopo3 .bolinha3 {
    background-color: #FD6A2B;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-left: 90%;
    margin-top: 2%;
    animation: animate 0.75s linear infinite;
}

.caixatopo3 .sensores {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.caixatopo3 .estado {
    font-family: 'Quicksand';
    font-size: 20px;
    width: 195px;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}

.botao_detalhe {
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 700;
    margin-top: 2%;
    text-align: end;
}

.botao_detalhe a{
    text-decoration: none;
    color: #0D7980;
}

.fazendaB {
    display: flex;
    justify-content: space-between;
}

.caixatopo4 {
    border: solid 3px #F91A1A;
    box-shadow: -13px 15px #F91A1A;
    width: 236px;
    height: 150px;
    border-radius: 10px;
}

.caixatopo4 .bolinha4 {
    background-color: #F91A1A;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-left: 90%;
    margin-top: 2%;
    animation: animate 0.75s linear infinite;
}

.caixatopo4 .sensores {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.caixatopo4 .estado {
    font-family: 'Quicksand';
    font-size: 20px;
    width: 195px;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}

.caixatopo5 {
    border: solid 3px #F8D51F;
    box-shadow: -13px 15px #F8D51F;
    width: 236px;
    height: 150px;
    border-radius: 10px;
}

.caixatopo5 .bolinha5 {
    background-color: #F8D51F;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-left: 90%;
    margin-top: 2%;
    animation: animate 0.75s linear infinite;
}

.caixatopo5 .sensores {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.caixatopo5 .estado {
    font-family: 'Quicksand';
    font-size: 20px;
    width: 195px;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}

.caixatopo6 {
    border: solid 3px #F8D51F;
    box-shadow: -13px 15px #F8D51F;
    width: 236px;
    height: 150px;
    border-radius: 10px;
}

.caixatopo6 .bolinha6 {
    background-color: #F8D51F;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-left: 90%;
    margin-top: 2%;
    animation: animate 0.75s linear infinite;
}

.caixatopo6 .sensores {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.caixatopo6 .estado {
    font-family: 'Quicksand';
    font-size: 20px;
    width: 195px;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}

.botao_detalhe {
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 700;
    margin-top: 2%;
    text-align: end;
}

/* ######################################################## FIM DOS INDICADORES ########################################################## */

.footer {
    color: #fff;
    background-color: #0D7980;
    justify-content: center;
    align-items: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.logo #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.logo #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.footer .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    width: 700px;
    color: #FFFFFF;
}

.footer .container #span3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
}

/* ######################################################## FIM DO FOOTER ########################################################## */
