 body {
     margin: 0;
     font-family: sans-serif;
     background-color: #0D7980;
     background-image: url("/assets/imagem_banner.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     /* tags responsáveis pelo efeito parallax e opacidade */
     background-attachment: fixed;
     background-color: rgba(0, 0, 0, 0.35);
     background-blend-mode: color;
}

 .header {
     background-color: #0D7980;
     height: 70px;
     color: #ffffff;
 }

 /* Respiro da Página, margin auto para o sistema do pc que decidir como fica a alteração */
 .container {
     margin: auto;
     width: 80%;
 }

 .header .container {
     display: flex;
     justify-content: space-between;
     height: 100%;
 }

 .nome_Empresa {
     display: flex;
 }
 
.nome_Empresa a{
    color: #FFFFFF;
    text-decoration: none;
}



 .nome_Empresa #span1 {
     font-family: 'Quicksand';
     font-size: 26px;
     font-weight: 700;

     align-self: center;

 }

 .nome_Empresa #span2 {
     font-family: 'Leckerli One', cursive;
     font-size: 26px;
     font-weight: 700;

     align-self: center;
 }

 .header .navbar {
     font-family: 'Montserrat';
     font-weight: 600;
     font-size: 16px;
     display: flex;
     justify-content: space-around;
     list-style: none;
     align-items: center;
     margin-top: 24px;
     width: 700px;
     color: #FFFFFF;

 }

 .navbar .agora {
     font-weight: 1000;
     color: #000;
 }

 .navbar a {
    color: #FFFFFF;
    text-decoration: none;
 }


 /* BANNER */

 /* .banner {
     /* height: 100%;
 } */

 .banner .container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 714px;
 }

 .form-login {
     background: rgba(0, 0, 0, 0.6);
     width: 37%;
     height: 465px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 4px;
     background: rgba(35, 89, 89, 0.7);
     border-radius: 10px;


 }


 .form-login h1 {
     margin: 0px;
     /* margin-block-start: 0.67em; */
     /* margin-block-end: 0.67em; */
     font-size: 230%;
     text-align: center;
     color: white;
     font-family: 'Cairo';
     font-weight: 600;
 }


 .formulario {
     padding: 10px 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     width: auto;
     height: 60%;
     color: white;
 }

 .formulario input {
     padding: 7px 10px;
     width: 240px;
     height: 30px;
     font-family: 'Quicksand';
     font-size: 20px;
     border-style: none;
     border-radius: 100px;
     background: #19403C;
     color: white;
     border-radius: 8px;
 }

 .formulario input::placeholder {
     color: rgb(255, 255, 255, 0.6);
     font-family: 'Quicksand';
     /* font-size: 30px; */
 }

 /* button {
     font-family: 'Cairo';
     font-size: 20px;
     width: 150px;
     height: 45px;
     left: 700px;
     align-self: center;
     margin-top: 20px;
     background: #A66038;
     border-radius: 10px;
     color: white;
     border-style: none;
 } */

 button {
    font-family: 'Cairo';
    background-color: #A56037;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    height: 46px;
    width: 164px;
    font-size: 24px;
    margin-top: 24px;
}

button:hover{
    box-shadow: -3px 3px 3px #6d3c20;
}

 /* .banner {
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;

 }

 .banner .container {
     height: 400px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .box_form {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: #235959c1;
     width: 614px;
     height: 560px;
     color: rgb(255, 255, 255);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
 }

 .box_form h1 {
     font-size: 30px;
 }

 .form {
    border: solid 5px navajowhite;
     display: flex;
     flex-direction: column;
     width: 200px;
     height: 200px;
 }

 .form button {
     margin-top: 10px;
     background: #A66038;
     color: rgb(255, 255, 255);
     padding: 10px 15px;
     border: none;
     border-radius: 15px;
     font-size: 20px;
     width: 120px;
     align-self: center;
     margin-top: 30px;
 }

 .form input {
     right: 20px;
     position: relative;
     width: 200px;
     height: 10px;
     padding: 10px 20px;
     border: 2px solid #19403C;
     border-radius: 10px;
     margin-bottom: 10px;
     background-color: #19403C;
 }

 input::placeholder {
     color: white;
 }

 input {
     margin: 15px 0px;
 } */



 /* Rodapé */

.footer {
    color: #fff;
    background-color: #0D7980;
    justify-content: center;
    align-items: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.logo a{
    color: #FFFFFF;
    text-decoration: none;
}

/* .footer .contato {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 800px;
} */

.logo #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.logo #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.footer .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    width: 700px;
    color: #FFFFFF;
}

.footer .container #span3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
}