/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Montserrat&family=Quicksand&family=Cairo:wght@900&family=Cairo&family=Questrial&family=Leckerli+One&family=Quicksand:wght@700&display=swap'); */


body {
    font-family: sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}

.header {
    background-color: #0D7980;
    height: 70px;
    color: #ffffff;
}

#analytics{
    font-weight: bold;
    font-family: 'Leckerli One', cursive;
}

/* Respiro da Página, margin auto para o sistema do pc que decidir como fica a alteração */
.container {
    margin: auto;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nome_Empresa {
    display: flex;
}

.nome_Empresa a{
    color: #FFFFFF;
    text-decoration: none;
}
.nome_Empresa #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;

}

.nome_Empresa #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.header .navbar {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 24px;
    width: 700px;
    color: #FFFFFF;

}

.navbar .agora {
    font-weight: 1000;
    color: #000;
}

.navbar a {
   color: #FFFFFF;
   text-decoration: none;
}

/* Banner */
.banner {
    padding: 40px 0;
    background-image: url(../assets/imagem_banner.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    /* tags responsáveis pelo efeito parallax e opacidade */
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: color;
}

.banner .container {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.banner p {
    font-size: 90px;
    font-family: 'Quicksand';
    font-weight: 600;
    width: 1088px;
    text-align: center;
}

.banner .container .negrito {
    font-weight: 800;
}

/* Quem Somos */
.quem_somos {
    height: 438px;
    background-color: #235959;
    display: flex;
    align-items: center;
}

.quem_somos .container {
    display: flex;
    color: #FFFFFF;
    font-size: medium;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;
}

.quem_somos .container img {
    height: 300px;
    width: 410px;
    justify-content: right;
}

.texto {
    font-family: 'Questrial', serif;
    font-size: 26px;
    width: 560px;
    height: 260;
    line-height: 140%;
    text-align: justify;
    justify-content: left;
}

.contexto button {
    font-family: 'Cairo';
    background-color: #A56037;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    height: 46px;
    width: 164px;
    font-size: 22px;
    margin-top: 24px;
}
.contexto button:hover{
    box-shadow: -3px 3px 3px #6d3c20;
}

/* Missão Valores */

.social {
    height: 1150px;
    display: flex;
    align-items: center;
    background-image: url(../assets/backgorund_vetor.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.social p {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 35px;
}

.box {
    margin: 50px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A7BDBD;
    width: 381px;
    font-family: 'Cairo';
    height: 500px;
    border-radius: 15px;
}

.box h4 {
    font-family: 'Cairo';
    /* font-weight: 900; */
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 20px;
    /* padding: 10px; */
}

.box p {
    font-family: 'Cairo';
    /* font-family: 'Questrial'; */
    font-size: 22px;
    /* font-size: 30px; */
    height: 117px;
    width: 313px;
    margin-top: 30px;
    padding: 10px;
}

.box img {
    margin-top: 20px;
    width: 151px;
    height: 140px;
}

/* Fale conosco */


.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 15px;
    margin-top: 20px;
    height: 550px;
    /* border: solid 10px green; */
}


.caixa input {
    padding: 7px 10px;
    margin-top: 13px;
    height: 51px;
    width: 382px;
    font-family: 'Quicksand';
    font-size: 26px;
    border-style: none;
    border-radius: 100px;
    background: #19403C;
    color: white;
    border-radius: 8px;
}

.caixa input::placeholder {
    color: rgb(255, 255, 255, 0.6);
    font-family: 'Quicksand';
    font-size: 30px;
}

.caixa textarea {
    padding: 7px 10px;
    margin-top: 13px;
    height: 151px;
    width: 382px;
    font-family: 'Quicksand';
    font-size: 26px;
    border: 0;
    border-style: none;
    border-radius: 100px;
    background: #19403C;
    color: white;
    border-radius: 8px;
}

.caixa textarea::placeholder {
    color: rgb(255, 255, 255, 0.6);
    font-family: 'Quicksand';
    font-size: 30px;
}


/* .caixa input {
    font-family: 'Quicksand';
    color: white;
    border: none;
    margin-top: 13px;
    font-family: 'Quicksand';
    font-size: 30px;
    border-radius: 15px;
    background-color: #19403C;
    padding-left: 15px;
    height: 51px;
    width: 382px;
} */

/* .caixa input::placeholder {
    color: rgb(255,255,255,0.6);
    font-family: 'Quicksand';
    font-size: 30px;
} */

.caixa h2 {
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    margin-bottom: 20px;
    /* border: solid 2px green; */
}

.caixa button {
    font-family: 'Cairo';
    background-color: #A56037;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    height: 46px;
    width: 164px;
    font-size: 22px;
    margin-top: 24px;
}
.caixa button:hover{
    box-shadow: -3px 3px 3px #6d3c20;
}

/* Rodapé */

.footer {
    color: #fff;
    background-color: #0D7980;
    justify-content: center;
    align-items: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.logo a{
    color: #FFFFFF;
    text-decoration: none;
}

/* .footer .contato {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 800px;
} */

.logo #span1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.logo #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.footer .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    width: 700px;
    color: #FFFFFF;
}

.footer .container #span3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
}