@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Montserrat:wght@500&family=Montserrat&family=Quicksand&family=Cairo:wght@900&family=Cairo&family=Questrial&family=Leckerli+One&family=Cairo:wght@700&family=Quicksand:wght@700&display=swap');
body {
    margin: 0;
}

.header {
    background-color: #0D7980;
    height: 114px;
    color: #ffffff;
}

/* Respiro da Página, margin auto para o sistema do pc que decidir como fica a alteração */
.container {
    margin: auto;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nome_Empresa {
    display: flex;
}

.nome_Empresa #span1 {
    font-family: 'Quicksand';
    src: url('Fonte/Quicksand-Regular.ttf') format('truetype');
    font-size: 35px;
    font-weight: 700;
    margin-top: 8px;
    align-self: center;

}

.nome_Empresa #span2 {
    font-family: 'Leckerli One', cursive;
    src: url('Fonte/LeckerliOne-Regular.ttf') format('truetype');
    font-size: 36px;
    font-weight: 700;
    margin-top: 8px;
    align-self: center;
}

.navbar {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 30px;
    width: 700px;
    color: #FFFFFF;

}

.navbar .agora {
    font-weight: 1000;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar_lateral li{
    margin-top: 25px;
}

.banner {
    height: 779px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.banner .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 780px;
}


.lateral {
    background-color: #D9D9D9;
    width: 410px;
    height: 775px;
    display: flex;
    position: absolute;
    left: 0px;

}

.usuario{
    position: absolute;
    border: #0D7980 solid 1px ;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    right: 140px; 
    margin-top: 35px;
}

.usuario p {
    font-family: 'Cairo';
    font-size: 24px;
    font-weight: 700;
    margin-top: 200px;
    text-align: center;
}

.navbar_lateral {
    font-family: 'Questrial';
    font-size: 24px;
    list-style: none;
    margin-top: 80px;
    margin-left: -80px;
}


button {
    width: 253px;
    height: 34px;
    left: 700px;
    align-self: center;
    margin-top: 20px;
    background: #A66038;
    border-radius: 10px;
    color: white;
    border-style: none;
}

.legenda{
    width: 1250px;
    height: 170px;
    right: 100px;
    top:120px;
    position: absolute;
}

.legenda p {
    font-family: 'Cairo';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
}


.legenda #sinalizacao{
    font-family: 'Montserrat';
    font-size: 20px;
    justify-content: space-around;
    font-weight: 600;
}

.alertavermelho{
    position: absolute;
    background-color: #F91A1A;
    border-radius: 100px;
    width: 38px;
    height: 36px;
    bottom: 120px;
    right: 210px;
}

.alertalaranja{
    position: absolute;
    background-color: #FF7E47;
    border-radius: 100px;
    width: 38px;
    height: 36px;;
    bottom: 120px;
    right: 400px;
}

.alertaamarelo{
    position: absolute;
    background-color: #F8D51F;
    border-radius: 100px;
    width: 38px;
    height: 36px;
    bottom: 120px;
    right: 535px;
}

.alertaverde{
    position: absolute;
    background-color:#52FF00;
    border-radius: 100px;
    width: 38px;
    height: 36px;
    bottom: 120px;
    right: 660px;
}

.alert {
    position: absolute;
    left: 1035px;
    top: 10px;
    display: flex;
    font-family: 'Cairo';
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
}

.alert1 {
    position: absolute;
    left: 840px;
    top: 10px;
    display: flex;
    font-family: 'Cairo';
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
}

.alert2 {
    position: absolute;
    left: 710px;
    top: 10px;
    display: flex;
    font-family: 'Cairo';
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
}

.alert3 {
    position: absolute;
    left: 585px;
    top: 10px;
    display: flex;
    font-family: 'Cairo';
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
}

.fazenda{
    position: absolute;
    display: flex;
    font-family: 'Cairo';
    font-weight: 1000;
    font-size: 25px;
}

.fazenda .id1{
    position: absolute;
    display: flex;
    right: 200px;
    width: 145px;
    height: 36px;
}

.fazenda .id2{
    position: absolute;
    top: 290px;
    width: 145px;
    height: 36px;
}

.indicador1 {
    position: absolute;
    top: 290px;
    display: flex;
    margin-left: 140px;
}


.indicador {
    margin-left: 30px;
}

.red {
    padding-left: 10px;
    color: #F91A1A;
}

.black {
    padding-left: 10px;
}

.yellow {
    padding-left: 10px;
    color: #F8D51F;
}

.orange{
    padding-left: 10px;
    color: #FF7E47;
}

.caixa{
    position: absolute;
    width: 1250px;
    height: 620px;
    right: 100px;
    top:270px
}

.detalhe {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    
}

.detalhe1 {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    
}

.caixatopo1{
    position: absolute;
    width: 300px;
    height: 200px;
    border: 3px solid #F91A1A;
    background-color: #FC4A4A;
    right: 850px;
    top: 60px;
}

.caixatopo2{
    position: absolute;
    width: 300px;
    height: 200px;
    border: 3px solid #F05B1B;
    background-color: #FF7E47;
    right: 475px;
    top: 60px;
}

.caixatopo3{
    position: absolute;
    width: 300px;
    height: 200px;
    border: 3px solid #F8D51F;
    background-color: #F1DB67;
    right: 100px;
    top: 60px;
}


.caixatopo4{
    position: absolute;
    width: 300px;
    height: 200px;
    border: 3px solid #F91A1A;
    background-color: #FC4A4A;
    right: 850px;
    top: 350px;
}

.caixatopo5{
    position: absolute;
    width: 300px;
    height: 200px;
    border: 3px solid #F8D51F;
    background-color: #F1DB67;
    right: 475px;
    top: 350px;
}

.caixatopo6{
    position: absolute;
    width: 300px;
    height: 200px;
    border: 3px solid #F8D51F;
    background-color: #F1DB67;
    right: 100px;
    top: 350px;
}
.footer {
    color: #fff;
    background-color: #0D7980;
    height: 288px;
    align-items: center;

}

.footer .container {
    font-family: sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .contato {
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

.logo #span1 {
    font-family: 'Quicksand';
    src: url('Fonte/Quicksand-Regular.ttf') format('truetype');
    font-size: 35px;
    font-weight: 700;
    margin-top: 8px;
    align-self: center;

}

.logo #span2 {
    font-family: 'Leckerli One', cursive;
    src: url('Fonte/LeckerliOne-Regular.ttf') format('truetype');
    font-size: 36px;
    font-weight: 700;
    margin-top: 8px;
    align-self: center;
}

.footer .container .navbar {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 30px;
    width: 700px;
    color: #FFFFFF;
}

.footer .container #span3 {
    font-family: 'Montserrat';
    font-size: 30px;
}

.footer .logo {
    margin-top: 3%;
}