body {
    font-family: sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}


/* ######################################################## INÍCIO DO HEADER ########################################################## */
.header {
    background-color: #0D7980;
    height: 70px;
    color: #ffffff;
}

/* Respiro da Página, margin auto para o sistema do pc que decidir como fica a alteração */
.container {
    margin: auto;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nome_Empresa {
    display: flex;
}

.nome_Empresa #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.nome_Empresa #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.header .navbar {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 24px;
    width: 700px;
    color: #FFFFFF;

}

.navbar .agora {
    font-weight: 1000;
    color: #000;
}

.navbar a {
   color: #FFFFFF;
   text-decoration: none;
}
/* ######################################################## FIM DO HEADER ########################################################## */



/* ########################################################## INÍCIO DAS SECTIONS ############################################################ */
.sections span {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 100%;
    align-self: center;
    /* margin-top: 15px; */
}

.sections {
    /* border: solid 5px green; */
    height: 2200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ###################################################### INICIO MENU DOS GRÁFICOS ###################################################### */
.graphsmenu {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* ###################################################### INÍCIO MÉTRICAS DOS ALERTAS ###################################################### */
.topsection {
    display: flex;
    flex-direction: column;
    height: 245px;
}

.metricas1 {
    width: auto;
    align-self: center;
}

.metricas1 img {
    height: 65%;
}

.metricas2 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.metricas2 img {
    align-self: center;
    max-height: 50%;
    max-width: 50%;
    width: 100%;
    height: auto;
    margin: 15px 0;
}
/* ###################################################### FIM MÉTRICAS DOS ALERTAS ###################################################### */


/* ###################################################### INÍCIO GRÁFICOS/TEMPERATURA/UMIDADE ###################################################### */
.graphs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.big {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.divisoes {
    border: solid 1px rgb(13, 121, 128);
    box-shadow: -13px 15px rgba(13, 121, 128, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 86%;
    align-self: center;
    height: 45%;
}

.setor_significado{
    font-family: 'Quicksand';
    display: flex;
    width: 800px;
    height: 100px;
    align-items: center;
}

.setor_significado span{
    align-items: center;
    margin-right: 10px;
}

.divisoes .msg_setor {
    margin-top: 5px;
    border: solid 3px #0D7980;
    background-color: #fff;
    padding: 15px;
    display: none;
    width: 400px;
  }

.divisoes span:hover + .msg_setor {
    display: block;
  }

.setor_significado b{
    color: #0D7980;
}

.graphs h2 {
    font-size: 210%;
    font-family: 'Cairo';
    align-self: center;
    margin-block-end: 0em;
}

.graphs h3 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 190%;
    font-family: 'Quicksand';
    align-self: center;
}

.graficos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 250px;
    margin-bottom: 30px;
}

.grafico {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.texto {
    align-self: center;
    margin-top: 2%;
    text-align: center;
}

.texto .central {
    align-self: center;
}

.graphs span {
    align-self: center;
    margin-top: 3%;
}

.minmaxbarra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 45%;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.minmax {
    display: flex;
    flex-direction: column;
}

.minmax span {
    text-align: center;
    padding-bottom: 3%;
}

.imgMedida {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.imgMedida img {
    margin-right: 3%;
}

.imgMedida span {
    font-family: 'Cairo';
    font-size: 25px;
}

.graf_setores {
    /* border: solid 2px black; */
    position: relative;
    width: 45vh;
    height: 25vh;
}

.red {
    color: #F91A1A;
}

.orange {
    color: #FD6A2B;
}

.titleblue {
    color: #0D7980;
}

.blue {
    color: #002A96;
}

/* ###################################################### FIM GRAFICOS/TEMPERATURA/UMIDADE ###################################################### */

/* ########################################################## FIM SECTIONS ############################################################ */



/* ######################################### FOOTER ############################################### */
.footer {
    color: #fff;
    background-color: #0D7980;
    justify-content: center;
    align-items: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    padding-top: 15px;
    padding-bottom: 15px;

}

/* .footer .contato {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 800px;
} */

.logo #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.logo #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.footer .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    width: 700px;
    color: #FFFFFF;
}

.footer .container #span3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
}
