body {
    margin: 0;
    background-color: #FFFFFF;
}

.header {
    background-color: #0D7980;
    height: 70px;
    color: #ffffff;
}

.container {
    margin: auto;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nome_Empresa {
    display: flex;
}

.nome_Empresa #span1 {
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.nome_Empresa #span2 {
    font-family: 'Leckerli One', cursive;
    font-size: 26px;
    font-weight: 700;
    align-self: center;
}

.header .navbar {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 24px;
    width: 700px;
    color: #FFFFFF;
}

.navbar .agora {
    font-weight: 1000;
    color: #000;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
}

/* ######################################################## FIM DO HEADER ########################################################## */

.banner {
    display: flex;
    width: 100%;
    border: solid 3px magenta;
    height: 1000px;
}

.lateral {
    width: 20%;
    border: solid 3px brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lateral .usuario {
    border-radius: 100%;
    border: solid 5px black;
    width: 150px;
    height: 150px;
}

.navbar_lateral {
    display: flex;
    flex-direction: column;
    padding: 0%;
    border: solid 3px pink;
    width: 50%;
    height: 10%;
    justify-content: space-between;
}

.navbar_lateral li {
    list-style: none;
    border: solid 3px cyan;
}